<%- include('header') -%>
<h1><%= torrent.name %></h1>
<% if (torrent.createdBy) { %>
	<p>by <%= torrent.createdBy %></p>
<% } %>
<% if (torrent.created) { %>
	<p>created <%= torrent.created %></p>
<% } %>
<% if (torrent.comment) { %>
	<p><em><%= torrent.comment %></em></p>
<% } %>

<p>
	<label>
		Torrent progress:
		<progress max="1" value="<%= torrent.progress %>"><%= torrent.progress * 100 %>%</progress>
		<%= torrent.progress * 100 %>%
	</label>
</p>
	
<p><a href="<%= torrent.magnetURI %>">Magnet URI</a></p>

<h2>Files</h2>
<ul>
<% torrent.files.forEach(file => { %>
	<li>
		<a href="/download/<%= torrent.infoHash %>/<%= file.name %>">
			<%= file.name %>
		</a>
	</li>
<% }) %>
</ul>

<form action="/destroy/<%= torrent.infoHash %>" method="post">
	<button type="submit">Delete Torrent</button>
</form>
<%- include('footer') -%>